<div class="d-flex justify-content-center">
    <div class="inputs d-flex flex-column w-50">

        <div>
            <div class="d-flex justify-content-between">
                <img class="m-2" (click)="redirect()" src="/assets/images/return-icon.svg" alt="return-icon">
                <div>
                    <img class="m-2" src="/assets/images/edit-icon.svg" alt="edit-icon">
                    <img class="m-2" (click)="removeCustomer(customer.customerId)" src="/assets/images/blue-delete-icon.svg" alt="remove-icon">
                </div>
            </div>
        </div>

        <label class="m-2" for="customer-name">Name:</label>
        <input class="m-2" type="text" name="customer-name" [(ngModel)]="customer.name">

        <label class="m-2" for="company-name">Company Name:</label>
        <input class="m-2" type="text" name="company-name" [(ngModel)]="customer.companyName">

        <label class="m-2" for="phone">Phone:</label>
        <input class="m-2" type="text" name="phone" [(ngModel)]="customer.phone">

        <label class="m-2" for="email">Email:</label>
        <input class="m-2" type="email" name="email" [(ngModel)]="customer.email">

        <div class="d-flex justify-content-center">
            <button class="apply-btn m-2" type="button" name="apply-btn" (click)="editCustomer()">Update</button>
        </div>

    </div>
</div>