<div class="d-flex justify-content-center">
    <div class="d-flex flex-column">

        <div>
            <div class="d-flex justify-content-between">
                <img class="m-2" (click)="redirect()" src="/assets/images/return-icon.svg" alt="return-icon">
                <div *ngIf="isUpdate">
                    <img class="m-2" src="/assets/images/edit-icon.svg" alt="edit-icon">
                    <img class="m-2" (click)="removeCustomer(customer.customerId)" src="/assets/images/blue-delete-icon.svg" alt="remove-icon">
                </div>
            </div>
        </div>

        <div class="inputs d-flex flex-column">
            <label class="m-2" for="customer-name">Name:</label>
            <input class="m-2" type="text" name="name" [(ngModel)]="customer.name" #name="ngModel" required>
            <div *ngIf="name?.dirty" class="validation">
                <div *ngIf="allNames?.indexOf(customer.name) > -1">
                    <span>Name already exist. Please enter unique Name</span>
                </div>
                <div *ngIf="customer.name == ''">
                    <span>Please, enter a value</span>
                </div>
            </div>
    
            <label class="m-2" for="company-name">Company Name:</label>
            <input class="m-2" type="text" name="company" [(ngModel)]="customer.companyName" #company="ngModel" required>
            <div *ngIf="company?.dirty" class="validation">
                <div *ngIf="customer.companyName == ''">
                    <span>Please, enter a value</span>
                </div>
            </div>
    
            <label class="m-2" for="phone">Phone:</label>
            <input class="m-2" type="text" name="phone" [(ngModel)]="customer.phone" required
                pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" #phone="ngModel">
            <div *ngIf="phone?.dirty" class="validation">
                <div *ngIf="phone?.invalid && customer.phone != ''">
                    <span>Please enter correct phone</span>
                </div>
                <div *ngIf="customer.phone == ''">
                    <span>Required</span>
                </div>
            </div>
    
            <label class="m-2" for="email">Email:</label>
            <input class="m-2" type="text" name="email" [(ngModel)]="customer.email" 
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" required #email="ngModel">
            <div class="validation" *ngIf="email?.invalid && email?.dirty">
                <div>
                    <span>Please enter correct email</span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button *ngIf="!isUpdate" class="apply-btn m-2" type="button" name="apply-btn" (click)="addCustomer()">Add</button>
            <button *ngIf="isUpdate" class="apply-btn m-2" type="button" name="apply-btn" (click)="editCustomer()">Update</button>
        </div>

    </div>
</div>